{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h3>
        Preface
    </h3>
</div>
<div class="jumbotron">
    <p>
        Services are provided here to solve your problems.
        <ul>
            Database Accessor
            <ul>
                Manipulate data in database.
            </ul>
        </ul>
        <ul>
            Exploratory Data Analysis
            <ul>
                Automatically analyze data.
            </ul>
        </ul>
    </p>
</div>
{% endblock %}